@keyframes tooltip-hover-effect {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes tooltip-unhover-effect {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0.96);
  }
}

.tooltip-active {
  animation: tooltip-hover-effect 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.tooltip-inactive {
  animation: tooltip-unhover-effect 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes drop-area-ellipsis {
  0% { content: '.'; }
  25% { content: '..'; }
  50% { content: '...'; }
  75% { content: '..'; }
  100% { content: '.'; }
}
